# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# SASS css dir
sites/all/themes/laliste/.sass-cache
sites/all/themes/laliste/css/*

# MacOS
.DS_Store*
*.swp

# phpStorm
.idea*
