.abkhazia, .ad, .ae, .af, .ag, .ai, .al, .am, .an, .ao, .aq, .ar, .as, .at, .au, .aw, .ax, .az, .ba, .basque-country, .bb, .bd, .be, .bf, .bg, .bh, .bi, .bj, .bl, .bm, .bn, .bo, .br, .british-antarctic-territory, .bs, .bt, .bw, .by, .bz, .ca, .cc, .cd, .cf, .cg, .ch, .ci, .ck, .cl, .cm, .cn, .co, .commonwealth, .cr, .cu, .cv, .cw, .cx, .cy, .cz, .de, .dj, .dk, .dm, .do, .dz, .ec, .ee, .eg, .eh, .england, .er, .es, .et, .eu, .fi, .fj, .fk, .fm, .fo, .fr, .ga, .gb, .gd, .ge, .gg, .gh, .gi, .gl, .gm, .gn, .gosquared, .gq, .gr, .gs, .gt, .gu, .gw, .gy, .hk, .hn, .hr, .ht, .hu, .ic, .id, .ie, .il, .im, .in, .iq, .ir, .is, .it, .je, .jm, .jo, .jp, .ke, .kg, .kh, .ki, .km, .kn, .kosovo, .kp, .kr, .kw, .ky, .kz, .la, .lb, .lc, .li, .lk, .lr, .ls, .lt, .lu, .lv, .ly, .ma, .mars, .mc, .md, .me, .mf, .mg, .mh, .mk, .ml, .mm, .mn, .mo, .mp, .mq, .mr, .ms, .mt, .mu, .mv, .mw, .mx, .my, .mz, .na, .nagorno-karabakh, .nato, .nc, .ne, .nf, .ng, .ni, .nl, .no, .northern-cyprus, .np, .nr, .nu, .nz, .olympics, .om, .pa, .pe, .pf, .pg, .ph, .pk, .pl, .pn, .pr, .ps, .pt, .pw, .py, .qa, .red-cross, .ro, .rs, .ru, .rw, .sa, .sb, .sc, .scotland, .sd, .se, .sg, .sh, .si, .sk, .sl, .sm, .sn, .so, .somaliland, .south-ossetia, .sr, .ss, .st, .sv, .sy, .sz, .tc, .td, .tf, .tg, .th, .tj, .tk, .tl, .tm, .tn, .to, .tr, .tt, .tv, .tw, .tz, .ua, .ug, .united-nations, .unknown, .us, .uy, .uz, .va, .vc, .ve, .vg, .vi, .vn, .vu, .wales, .wf, .ws, .ye, .yt, .za, .zm, .zw{
	background: url("../img/flat-large-countries.png") no-repeat;
}

.abkhazia{
	background-position: -549px -205px ;
	width: 60px;
	height: 35px;
}

.ad{
	background-position: -854px -328px ;
	width: 60px;
	height: 40px;
}

.ae{
	background-position: -854px 0;
	width: 60px;
	height: 40px;
}

.af{
	background-position: -366px -697px ;
	width: 60px;
	height: 40px;
}

.ag{
	background-position: -305px -697px ;
	width: 60px;
	height: 40px;
}

.ai{
	background-position: -244px -697px ;
	width: 60px;
	height: 40px;
}

.al{
	background-position: -183px -697px ;
	width: 60px;
	height: 40px;
}

.am{
	background-position: -122px -697px ;
	width: 60px;
	height: 40px;
}

.an{
	background-position: -61px -697px ;
	width: 60px;
	height: 40px;
}

.ao{
	background-position: 0 -697px ;
	width: 60px;
	height: 40px;
}

.aq{
	background-position: -854px -656px ;
	width: 60px;
	height: 40px;
}

.ar{
	background-position: -793px -656px ;
	width: 60px;
	height: 40px;
}

.as{
	background-position: -732px -656px ;
	width: 60px;
	height: 40px;
}

.at{
	background-position: -671px -656px ;
	width: 60px;
	height: 40px;
}

.au{
	background-position: -610px -656px ;
	width: 60px;
	height: 40px;
}

.aw{
	background-position: -549px -656px ;
	width: 60px;
	height: 40px;
}

.ax{
	background-position: -488px -656px ;
	width: 60px;
	height: 40px;
}

.az{
	background-position: -427px -656px ;
	width: 60px;
	height: 40px;
}

.ba{
	background-position: -366px -656px ;
	width: 60px;
	height: 40px;
}

.basque-country{
	background-position: -305px -656px ;
	width: 60px;
	height: 40px;
}

.bb{
	background-position: -244px -656px ;
	width: 60px;
	height: 40px;
}

.bd{
	background-position: -183px -656px ;
	width: 60px;
	height: 40px;
}

.be{
	background-position: -122px -656px ;
	width: 60px;
	height: 40px;
}

.bf{
	background-position: -61px -656px ;
	width: 60px;
	height: 40px;
}

.bg{
	background-position: 0 -656px ;
	width: 60px;
	height: 40px;
}

.bh{
	background-position: -854px -615px ;
	width: 60px;
	height: 40px;
}

.bi{
	background-position: -793px -615px ;
	width: 60px;
	height: 40px;
}

.bj{
	background-position: -732px -615px ;
	width: 60px;
	height: 40px;
}

.bl{
	background-position: -671px -615px ;
	width: 60px;
	height: 40px;
}

.bm{
	background-position: -610px -615px ;
	width: 60px;
	height: 40px;
}

.bn{
	background-position: -549px -615px ;
	width: 60px;
	height: 40px;
}

.bo{
	background-position: -488px -615px ;
	width: 60px;
	height: 40px;
}

.br{
	background-position: -427px -615px ;
	width: 60px;
	height: 40px;
}

.british-antarctic-territory{
	background-position: -366px -615px ;
	width: 60px;
	height: 40px;
}

.bs{
	background-position: -305px -615px ;
	width: 60px;
	height: 40px;
}

.bt{
	background-position: -244px -615px ;
	width: 60px;
	height: 40px;
}

.bw{
	background-position: -183px -615px ;
	width: 60px;
	height: 40px;
}

.by{
	background-position: -122px -615px ;
	width: 60px;
	height: 40px;
}

.bz{
	background-position: -61px -615px ;
	width: 60px;
	height: 40px;
}

.ca{
	background-position: 0 -615px ;
	width: 60px;
	height: 40px;
}

.cc{
	background-position: -854px -574px ;
	width: 60px;
	height: 40px;
}

.cd{
	background-position: -793px -574px ;
	width: 60px;
	height: 40px;
}

.cf{
	background-position: -732px -574px ;
	width: 60px;
	height: 40px;
}

.cg{
	background-position: -671px -574px ;
	width: 60px;
	height: 40px;
}

.ch{
	background-position: -610px -574px ;
	width: 60px;
	height: 40px;
}

.ci{
	background-position: -549px -574px ;
	width: 60px;
	height: 40px;
}

.ck{
	background-position: -488px -574px ;
	width: 60px;
	height: 40px;
}

.cl{
	background-position: -427px -574px ;
	width: 60px;
	height: 40px;
}

.cm{
	background-position: -366px -574px ;
	width: 60px;
	height: 40px;
}

.cn{
	background-position: -305px -574px ;
	width: 60px;
	height: 40px;
}

.co{
	background-position: -244px -574px ;
	width: 60px;
	height: 40px;
}

.commonwealth{
	background-position: -183px -574px ;
	width: 60px;
	height: 40px;
}

.cr{
	background-position: -122px -574px ;
	width: 60px;
	height: 40px;
}

.cu{
	background-position: -61px -574px ;
	width: 60px;
	height: 40px;
}

.cv{
	background-position: 0 -574px ;
	width: 60px;
	height: 40px;
}

.cw{
	background-position: -854px -533px ;
	width: 60px;
	height: 40px;
}

.cx{
	background-position: -793px -533px ;
	width: 60px;
	height: 40px;
}

.cy{
	background-position: -732px -533px ;
	width: 60px;
	height: 40px;
}

.cz{
	background-position: -671px -533px ;
	width: 60px;
	height: 40px;
}

.de{
	background-position: -610px -533px ;
	width: 60px;
	height: 40px;
}

.dj{
	background-position: -549px -533px ;
	width: 60px;
	height: 40px;
}

.dk{
	background-position: -488px -533px ;
	width: 60px;
	height: 40px;
}

.dm{
	background-position: -427px -533px ;
	width: 60px;
	height: 40px;
}

.do{
	background-position: -366px -533px ;
	width: 60px;
	height: 40px;
}

.dz{
	background-position: -305px -533px ;
	width: 60px;
	height: 40px;
}

.ec{
	background-position: -244px -533px ;
	width: 60px;
	height: 40px;
}

.ee{
	background-position: -183px -533px ;
	width: 60px;
	height: 40px;
}

.eg{
	background-position: -122px -533px ;
	width: 60px;
	height: 40px;
}

.eh{
	background-position: -61px -533px ;
	width: 60px;
	height: 40px;
}

.england{
	background-position: 0 -533px ;
	width: 60px;
	height: 40px;
}

.er{
	background-position: -854px -492px ;
	width: 60px;
	height: 40px;
}

.es{
	background-position: -793px -492px ;
	width: 60px;
	height: 40px;
}

.et{
	background-position: -732px -492px ;
	width: 60px;
	height: 40px;
}

.eu{
	background-position: -671px -492px ;
	width: 60px;
	height: 40px;
}

.fi{
	background-position: -610px -492px ;
	width: 60px;
	height: 40px;
}

.fj{
	background-position: -549px -492px ;
	width: 60px;
	height: 40px;
}

.fk{
	background-position: -488px -492px ;
	width: 60px;
	height: 40px;
}

.fm{
	background-position: -427px -492px ;
	width: 60px;
	height: 40px;
}

.fo{
	background-position: -366px -492px ;
	width: 60px;
	height: 40px;
}

.fr{
	background-position: -305px -492px ;
	width: 60px;
	height: 40px;
}

.ga{
	background-position: -244px -492px ;
	width: 60px;
	height: 40px;
}

.gb{
	background-position: -183px -492px ;
	width: 60px;
	height: 40px;
}

.gd{
	background-position: -122px -492px ;
	width: 60px;
	height: 40px;
}

.ge{
	background-position: -61px -492px ;
	width: 60px;
	height: 40px;
}

.gg{
	background-position: 0 -492px ;
	width: 60px;
	height: 40px;
}

.gh{
	background-position: -854px -451px ;
	width: 60px;
	height: 40px;
}

.gi{
	background-position: -793px -451px ;
	width: 60px;
	height: 40px;
}

.gl{
	background-position: -732px -451px ;
	width: 60px;
	height: 40px;
}

.gm{
	background-position: -671px -451px ;
	width: 60px;
	height: 40px;
}

.gn{
	background-position: -610px -451px ;
	width: 60px;
	height: 40px;
}

.gosquared{
	background-position: -549px -451px ;
	width: 60px;
	height: 40px;
}

.gq{
	background-position: -488px -451px ;
	width: 60px;
	height: 40px;
}

.gr{
	background-position: -427px -451px ;
	width: 60px;
	height: 40px;
}

.gs{
	background-position: -366px -451px ;
	width: 60px;
	height: 40px;
}

.gt{
	background-position: -305px -451px ;
	width: 60px;
	height: 40px;
}

.gu{
	background-position: -244px -451px ;
	width: 60px;
	height: 40px;
}

.gw{
	background-position: -183px -451px ;
	width: 60px;
	height: 40px;
}

.gy{
	background-position: -122px -451px ;
	width: 60px;
	height: 40px;
}

.hk{
	background-position: -61px -451px ;
	width: 60px;
	height: 40px;
}

.hn{
	background-position: 0 -451px ;
	width: 60px;
	height: 40px;
}

.hr{
	background-position: -854px -410px ;
	width: 60px;
	height: 40px;
}

.ht{
	background-position: -793px -410px ;
	width: 60px;
	height: 40px;
}

.hu{
	background-position: -732px -410px ;
	width: 60px;
	height: 40px;
}

.ic{
	background-position: -671px -410px ;
	width: 60px;
	height: 40px;
}

.id{
	background-position: -610px -410px ;
	width: 60px;
	height: 40px;
}

.ie{
	background-position: -549px -410px ;
	width: 60px;
	height: 40px;
}

.il{
	background-position: -488px -410px ;
	width: 60px;
	height: 40px;
}

.im{
	background-position: -427px -410px ;
	width: 60px;
	height: 40px;
}

.in{
	background-position: -366px -410px ;
	width: 60px;
	height: 40px;
}

.iq{
	background-position: -305px -410px ;
	width: 60px;
	height: 40px;
}

.ir{
	background-position: -244px -410px ;
	width: 60px;
	height: 40px;
}

.is{
	background-position: -183px -410px ;
	width: 60px;
	height: 40px;
}

.it{
	background-position: -122px -410px ;
	width: 60px;
	height: 40px;
}

.je{
	background-position: -61px -410px ;
	width: 60px;
	height: 40px;
}

.jm{
	background-position: 0 -410px ;
	width: 60px;
	height: 40px;
}

.jo{
	background-position: -854px -369px ;
	width: 60px;
	height: 40px;
}

.jp{
	background-position: -793px -369px ;
	width: 60px;
	height: 40px;
}

.ke{
	background-position: -732px -369px ;
	width: 60px;
	height: 40px;
}

.kg{
	background-position: -671px -369px ;
	width: 60px;
	height: 40px;
}

.kh{
	background-position: -610px -369px ;
	width: 60px;
	height: 40px;
}

.ki{
	background-position: -549px -369px ;
	width: 60px;
	height: 40px;
}

.km{
	background-position: -488px -369px ;
	width: 60px;
	height: 40px;
}

.kn{
	background-position: -427px -369px ;
	width: 60px;
	height: 40px;
}

.kosovo{
	background-position: -366px -369px ;
	width: 60px;
	height: 40px;
}

.kp{
	background-position: -305px -369px ;
	width: 60px;
	height: 40px;
}

.kr{
	background-position: -244px -369px ;
	width: 60px;
	height: 40px;
}

.kw{
	background-position: -183px -369px ;
	width: 60px;
	height: 40px;
}

.ky{
	background-position: -122px -369px ;
	width: 60px;
	height: 40px;
}

.kz{
	background-position: -61px -369px ;
	width: 60px;
	height: 40px;
}

.la{
	background-position: 0 -369px ;
	width: 60px;
	height: 40px;
}

.lb{
	background-position: -427px -697px ;
	width: 60px;
	height: 40px;
}

.lc{
	background-position: -793px -328px ;
	width: 60px;
	height: 40px;
}

.li{
	background-position: -732px -328px ;
	width: 60px;
	height: 40px;
}

.lk{
	background-position: -671px -328px ;
	width: 60px;
	height: 40px;
}

.lr{
	background-position: -610px -328px ;
	width: 60px;
	height: 40px;
}

.ls{
	background-position: -549px -328px ;
	width: 60px;
	height: 40px;
}

.lt{
	background-position: -488px -328px ;
	width: 60px;
	height: 40px;
}

.lu{
	background-position: -427px -328px ;
	width: 60px;
	height: 40px;
}

.lv{
	background-position: -366px -328px ;
	width: 60px;
	height: 40px;
}

.ly{
	background-position: -305px -328px ;
	width: 60px;
	height: 40px;
}

.ma{
	background-position: -244px -328px ;
	width: 60px;
	height: 40px;
}

.mars{
	background-position: -183px -328px ;
	width: 60px;
	height: 40px;
}

.mc{
	background-position: -122px -328px ;
	width: 60px;
	height: 40px;
}

.md{
	background-position: -61px -328px ;
	width: 60px;
	height: 40px;
}

.me{
	background-position: 0 -328px ;
	width: 60px;
	height: 40px;
}

.mf{
	background-position: -854px -287px ;
	width: 60px;
	height: 40px;
}

.mg{
	background-position: -793px -287px ;
	width: 60px;
	height: 40px;
}

.mh{
	background-position: -732px -287px ;
	width: 60px;
	height: 40px;
}

.mk{
	background-position: -671px -287px ;
	width: 60px;
	height: 40px;
}

.ml{
	background-position: -610px -287px ;
	width: 60px;
	height: 40px;
}

.mm{
	background-position: -549px -287px ;
	width: 60px;
	height: 40px;
}

.mn{
	background-position: -488px -287px ;
	width: 60px;
	height: 40px;
}

.mo{
	background-position: -427px -287px ;
	width: 60px;
	height: 40px;
}

.mp{
	background-position: -366px -287px ;
	width: 60px;
	height: 40px;
}

.mq{
	background-position: -305px -287px ;
	width: 60px;
	height: 40px;
}

.mr{
	background-position: -244px -287px ;
	width: 60px;
	height: 40px;
}

.ms{
	background-position: -183px -287px ;
	width: 60px;
	height: 40px;
}

.mt{
	background-position: -122px -287px ;
	width: 60px;
	height: 40px;
}

.mu{
	background-position: -61px -287px ;
	width: 60px;
	height: 40px;
}

.mv{
	background-position: 0 -287px ;
	width: 60px;
	height: 40px;
}

.mw{
	background-position: -854px -246px ;
	width: 60px;
	height: 40px;
}

.mx{
	background-position: -793px -246px ;
	width: 60px;
	height: 40px;
}

.my{
	background-position: -732px -246px ;
	width: 60px;
	height: 40px;
}

.mz{
	background-position: -671px -246px ;
	width: 60px;
	height: 40px;
}

.na{
	background-position: -610px -246px ;
	width: 60px;
	height: 40px;
}

.nagorno-karabakh{
	background-position: -549px -246px ;
	width: 60px;
	height: 40px;
}

.nato{
	background-position: -488px -246px ;
	width: 60px;
	height: 40px;
}

.nc{
	background-position: -427px -246px ;
	width: 60px;
	height: 40px;
}

.ne{
	background-position: -366px -246px ;
	width: 60px;
	height: 40px;
}

.nf{
	background-position: -305px -246px ;
	width: 60px;
	height: 40px;
}

.ng{
	background-position: -244px -246px ;
	width: 60px;
	height: 40px;
}

.ni{
	background-position: -183px -246px ;
	width: 60px;
	height: 40px;
}

.nl{
	background-position: -122px -246px ;
	width: 60px;
	height: 40px;
}

.no{
	background-position: -61px -246px ;
	width: 60px;
	height: 40px;
}

.northern-cyprus{
	background-position: 0 -246px ;
	width: 60px;
	height: 40px;
}

.np{
	background-position: 0 -738px ;
	width: 44px;
	height: 54px;
}

.nr{
	background-position: -488px -205px ;
	width: 60px;
	height: 40px;
}

.nu{
	background-position: -427px -205px ;
	width: 60px;
	height: 40px;
}

.nz{
	background-position: -366px -205px ;
	width: 60px;
	height: 40px;
}

.olympics{
	background-position: -305px -205px ;
	width: 60px;
	height: 40px;
}

.om{
	background-position: -244px -205px ;
	width: 60px;
	height: 40px;
}

.pa{
	background-position: -183px -205px ;
	width: 60px;
	height: 40px;
}

.pe{
	background-position: -122px -205px ;
	width: 60px;
	height: 40px;
}

.pf{
	background-position: -61px -205px ;
	width: 60px;
	height: 40px;
}

.pg{
	background-position: 0 -205px ;
	width: 60px;
	height: 40px;
}

.ph{
	background-position: -854px -164px ;
	width: 60px;
	height: 40px;
}

.pk{
	background-position: -793px -164px ;
	width: 60px;
	height: 40px;
}

.pl{
	background-position: -732px -164px ;
	width: 60px;
	height: 40px;
}

.pn{
	background-position: -671px -164px ;
	width: 60px;
	height: 40px;
}

.pr{
	background-position: -610px -164px ;
	width: 60px;
	height: 40px;
}

.ps{
	background-position: -549px -164px ;
	width: 60px;
	height: 40px;
}

.pt{
	background-position: -488px -164px ;
	width: 60px;
	height: 40px;
}

.pw{
	background-position: -427px -164px ;
	width: 60px;
	height: 40px;
}

.py{
	background-position: -366px -164px ;
	width: 60px;
	height: 40px;
}

.qa{
	background-position: -305px -164px ;
	width: 60px;
	height: 40px;
}

.red-cross{
	background-position: -244px -164px ;
	width: 60px;
	height: 40px;
}

.ro{
	background-position: -183px -164px ;
	width: 60px;
	height: 40px;
}

.rs{
	background-position: -122px -164px ;
	width: 60px;
	height: 40px;
}

.ru{
	background-position: -61px -164px ;
	width: 60px;
	height: 40px;
}

.rw{
	background-position: 0 -164px ;
	width: 60px;
	height: 40px;
}

.sa{
	background-position: -854px -123px ;
	width: 60px;
	height: 40px;
}

.sb{
	background-position: -793px -123px ;
	width: 60px;
	height: 40px;
}

.sc{
	background-position: -732px -123px ;
	width: 60px;
	height: 40px;
}

.scotland{
	background-position: -671px -123px ;
	width: 60px;
	height: 40px;
}

.sd{
	background-position: -610px -123px ;
	width: 60px;
	height: 40px;
}

.se{
	background-position: -549px -123px ;
	width: 60px;
	height: 40px;
}

.sg{
	background-position: -488px -123px ;
	width: 60px;
	height: 40px;
}

.sh{
	background-position: -427px -123px ;
	width: 60px;
	height: 40px;
}

.si{
	background-position: -366px -123px ;
	width: 60px;
	height: 40px;
}

.sk{
	background-position: -305px -123px ;
	width: 60px;
	height: 40px;
}

.sl{
	background-position: -244px -123px ;
	width: 60px;
	height: 40px;
}

.sm{
	background-position: -183px -123px ;
	width: 60px;
	height: 40px;
}

.sn{
	background-position: -122px -123px ;
	width: 60px;
	height: 40px;
}

.so{
	background-position: -61px -123px ;
	width: 60px;
	height: 40px;
}

.somaliland{
	background-position: 0 -123px ;
	width: 60px;
	height: 40px;
}

.south-ossetia{
	background-position: -854px -82px ;
	width: 60px;
	height: 40px;
}

.sr{
	background-position: -793px -82px ;
	width: 60px;
	height: 40px;
}

.ss{
	background-position: -732px -82px ;
	width: 60px;
	height: 40px;
}

.st{
	background-position: -671px -82px ;
	width: 60px;
	height: 40px;
}

.sv{
	background-position: -610px -82px ;
	width: 60px;
	height: 40px;
}

.sy{
	background-position: -549px -82px ;
	width: 60px;
	height: 40px;
}

.sz{
	background-position: -488px -82px ;
	width: 60px;
	height: 40px;
}

.tc{
	background-position: -427px -82px ;
	width: 60px;
	height: 40px;
}

.td{
	background-position: -366px -82px ;
	width: 60px;
	height: 40px;
}

.tf{
	background-position: -305px -82px ;
	width: 60px;
	height: 40px;
}

.tg{
	background-position: -244px -82px ;
	width: 60px;
	height: 40px;
}

.th{
	background-position: -183px -82px ;
	width: 60px;
	height: 40px;
}

.tj{
	background-position: -122px -82px ;
	width: 60px;
	height: 40px;
}

.tk{
	background-position: -61px -82px ;
	width: 60px;
	height: 40px;
}

.tl{
	background-position: 0 -82px ;
	width: 60px;
	height: 40px;
}

.tm{
	background-position: -854px -41px ;
	width: 60px;
	height: 40px;
}

.tn{
	background-position: -793px -41px ;
	width: 60px;
	height: 40px;
}

.to{
	background-position: -732px -41px ;
	width: 60px;
	height: 40px;
}

.tr{
	background-position: -671px -41px ;
	width: 60px;
	height: 40px;
}

.tt{
	background-position: -610px -41px ;
	width: 60px;
	height: 40px;
}

.tv{
	background-position: -549px -41px ;
	width: 60px;
	height: 40px;
}

.tw{
	background-position: -488px -41px ;
	width: 60px;
	height: 40px;
}

.tz{
	background-position: -427px -41px ;
	width: 60px;
	height: 40px;
}

.ua{
	background-position: -366px -41px ;
	width: 60px;
	height: 40px;
}

.ug{
	background-position: -305px -41px ;
	width: 60px;
	height: 40px;
}

.united-nations{
	background-position: -244px -41px ;
	width: 60px;
	height: 40px;
}

.unknown{
	background-position: -183px -41px ;
	width: 60px;
	height: 40px;
}

.us{
	background-position: -122px -41px ;
	width: 60px;
	height: 40px;
}

.uy{
	background-position: -61px -41px ;
	width: 60px;
	height: 40px;
}

.uz{
	background-position: 0 -41px ;
	width: 60px;
	height: 40px;
}

.va{
	background-position: -915px 0;
	width: 40px;
	height: 40px;
}

.vc{
	background-position: -793px 0;
	width: 60px;
	height: 40px;
}

.ve{
	background-position: -732px 0;
	width: 60px;
	height: 40px;
}

.vg{
	background-position: -671px 0;
	width: 60px;
	height: 40px;
}

.vi{
	background-position: -610px 0;
	width: 60px;
	height: 40px;
}

.vn{
	background-position: -549px 0;
	width: 60px;
	height: 40px;
}

.vu{
	background-position: -488px 0;
	width: 60px;
	height: 40px;
}

.wales{
	background-position: -427px 0;
	width: 60px;
	height: 40px;
}

.wf{
	background-position: -366px 0;
	width: 60px;
	height: 40px;
}

.ws{
	background-position: -305px 0;
	width: 60px;
	height: 40px;
}

.ye{
	background-position: -244px 0;
	width: 60px;
	height: 40px;
}

.yt{
	background-position: -183px 0;
	width: 60px;
	height: 40px;
}

.za{
	background-position: -122px 0;
	width: 60px;
	height: 40px;
}

.zm{
	background-position: -61px 0;
	width: 60px;
	height: 40px;
}

.zw{
	background-position: 0 0;
	width: 60px;
	height: 40px;
}

