// inputs

.InputAddOn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5em
}

.InputAddOn-field {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.InputAddOn-field:not(:first-child) {
    border-left: 0
}

.InputAddOn-field:not(:last-child) {
    border-right: 0
}

.InputAddOn-item {
    background-color: #93806c;
    background-color: hsla(31, 15%, 50%, .1);
    color: #666;
    font: inherit;
    font-weight: 400
}

.InputAddOn-field, .InputAddOn-item {
    border: 1px solid #93806c;
    border: 1px solid hsla(31, 15%, 50%, .25);
    padding: .5em .75em
}

.InputAddOn-field:first-child, .InputAddOn-item:first-child {
    border-radius: 2px 0 0 2px
}

.InputAddOn-field:last-child, .InputAddOn-item:last-child {
    border-radius: 0 2px 2px 0
}

// buttons

.Button {
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    display: inline-block;
    padding: .6em 1em;
    background: hsla(31, 15%, 50%, .15);
    color: inherit;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    font-size: .8125em;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
    white-space: nowrap
}

.Button:focus {
    outline: thin dotted #666;
    text-decoration: none
}

.Button:active, .Button:focus, .Button:hover {
    border: 0;
    background: hsla(31, 15%, 50%, .25);
    text-decoration: none
}

.Button--action {
    background-color: #46b980;
    color: #fff
}

.Button--action:active, .Button--action:focus, .Button--action:hover {
    background-color: #389466
}

.Button--wide {
    padding-right: 1.5em;
    padding-left: 1.5em
}

// Twitter

.twitter-follow-button {
    width: 220px !important
}

.twitter-share-button {
    width: 110px !important
}

.twitter-color {
    color: #00aced
}

