
@import "compass/reset";
@import "_variables";
@import "header";
@import "footer";

// colors
$light_grey: #f0f0f0;
$dark_grey : #5d5d5d;
$dark_gold : #93806c;
$gray: #808080;
$color_cape_cod_approx: #404040;
$black: #000;
$color_ocean_green_50_approx: rgba(70, 185, 128, .5);
$color_ocean_green_approx: #46b980;
$color_almond_frost_15_approx: rgba(146, 128, 108, .15);
$color_storm_dust_approx: #666;
$color_almond_frost_25_approx: rgba(146, 128, 108, .25);
$white: #fff;
$color_sea_green_approx: #389466;
$color_almond_frost_10_approx: rgba(146, 128, 108, .1);
$color_guardsman_red_approx: #c00;
$color_alto_approx: #d9d9d9;
$color_mountain_mist_approx: #999;
$mercury: #e5e5e5;
$color_almond_frost_approx: #93806c;
$color_carla_approx: #edffdb;
$black_60: rgba(0, 0, 0, .6);
$color_cerulean_approx: #00aced;

@font-face {
  font-family: 'Mrs Eaves Roman';
  src: url('../fonts/mrs-eaves-roman.woff2') format('woff2'),
       url('../fonts/mrs-eaves-roman.woff') format('woff'),
       url('../fonts/mrs-eaves-roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Mrs Eaves Bold';
  src: url('../fonts/mrs-eaves-bold.woff2') format('woff2'),
       url('../fonts/mrs-eaves-bold.woff') format('woff'),
       url('../fonts/mrs-eaves-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mrs Eaves Italic';
  src: url('../fonts/mrs-eaves-italic.woff2') format('woff2'),
       url('../fonts/mrs-eaves-italic.woff') format('woff'),
       url('../fonts/mrs-eaves-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Mrs Eaves Bold Italic';
  src: url('../fonts/mrs-eaves-bold-italic.woff2') format('woff2'),
       url('../fonts/mrs-eaves-bold-italic.woff') format('woff'),
       url('../fonts/mrs-eaves-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.ttf') format('truetype'),
       url('../fonts/fontawesome-webfont.svg') format('svg');
}

.u-block {
    display: block !important
}

.u-hidden {
    display: none !important
}

.u-hiddenVisually {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important
}

.u-inline {
    display: inline !important
}

.u-inlineBlock {
    display: inline-block !important;
    max-width: 100%
}

.u-table {
    display: table !important
}

.u-tableCell {
    display: table-cell !important
}

.u-tableRow {
    display: table-row !important
}

.u-textBreak {
    word-wrap: break-word !important
}

.u-textCenter {
    text-align: center !important
}

.u-textLeft {
    text-align: left !important
}

.u-textRight {
    text-align: right !important
}

.u-textInheritColor {
    color: inherit !important
}

.u-textKern {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern" 1, "kern";
    -moz-font-feature-settings: "kern" 1, "kern";
    font-feature-settings: kern\ 1, kern;
    -webkit-font-kerning: normal;
    -moz-font-kerning: normal;
    font-kerning: normal
}

.u-textNoWrap, .u-textTruncate {
    white-space: nowrap !important
}

.u-textTruncate {
    max-width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    word-wrap: normal !important
}

*, :after, :before {
    box-sizing: border-box
}

html {
    height: 100%;
    color: $black;
    font: 400 1em/1.4 'Josefin Sans', sans-serif;
    text-rendering: optimizeLegibility;
}

@media (-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx), (min-resolution:144dpi) {
    html {
        font-weight: 300
    }
}

h1 {
    font-weight: 300;
    font-size: 2em;
    -webkit-font-kerning: normal;
    letter-spacing: -.015em;
    line-height: 1;
    margin: .25em 0 .75em
}

@media (min-width:768px) {
    h1 {
        font-size: 2.5em;
        margin: .5em 0 1em
    }
}

h2 {
    font-size: 1.333em;
    margin: 0 0 1.12528em
}

h2, h3 {
    font-weight: 600
}

h3 {
    font-size: 1em;
    margin: 0 0 1.5em
}

a {
    color: $dark_gold;
    text-decoration: none
}

a:link, a:visited {
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style: none;
    margin: 0 0 1.5em;
    padding: 0 0 0 1.5em
}

li {
    margin-bottom: .333em
}

figure {
    margin: 0
}

strong {
    font-weight: 600
}

/*
 * Flexbox grid structure
 **/

.Grid {
    @include flexbox;
    @include flex-wrap(wrap);
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.Grid-cell {
    @include flex(1);
}

.Grid--top {
    @include align-items(flex-start);
}

.Grid--bottom {
    @include align-items(flex-end);
}

.Grid--center {
    @include align-items(center);
}

.Grid--justifyCenter {
    @include justify-content(center);
}

.Grid-cell--top {
    @include align-self(flex-start);
}

.Grid-cell--bottom {
    @include align-self(flex-end);
}

.Grid-cell--center {
    @include align-self(center);
}

.Grid-cell--autoSize {
    @include flex(0);
}

.Grid--fit>.Grid-cell {
    @include flex(1);
}

.Grid--full>.Grid-cell {
    @include flex(0,0,100%);
}

.Grid--1of2>.Grid-cell {
    @include flex(0,0,50%);
}

.Grid--1of3>.Grid-cell {
    @include flex(0,0,33.3333%);
}

.Grid--1of4>.Grid-cell {
    @include flex(0,0,25%);
}

.Grid--1of5>.Grid-cell
 {
    @include flex(0,0,169px); // guide-box
}

@media (min-width:375px) {
    .small-Grid--fit>.Grid-cell {
        @include flex(1);
    }

    .small-Grid--full>.Grid-cell {
        @include flex(0,0,100%);
    }

    .small-Grid--1of2>.Grid-cell {
        @include flex(0,0,50%);
    }

    .small-Grid--1of3>.Grid-cell {
        @include flex(0,0,33.3333%);
    }

    .small-Grid--1of4>.Grid-cell {
        @include flex(0,0,25%);
    }

    .Grid--1of5>.Grid-cell
    {
        @include flex(0,0,87px); // guide-box
    }
}

@media (min-width:576px) {
    .med-Grid--fit>.Grid-cell {
        @include flex(1);
    }

    .med-Grid--full>.Grid-cell {
        @include flex(0,0,100%);
    }

    .med-Grid--1of2>.Grid-cell {
        @include flex(0,0,50%);
    }

    .med-Grid--1of3>.Grid-cell {
        @include flex(0,0,33.3333%);
    }

    .med-Grid--1of4>.Grid-cell {
        @include flex(0,0,25%);
    }

    .Grid--1of5>.Grid-cell
    {
        @include flex(0,0,120px); // guide-box
    }
}

@media (min-width:768px) {
    .large-Grid--fit>.Grid-cell {
        @include flex(1);
    }

    .large-Grid--full>.Grid-cell {
        @include flex(0,0,100%);
    }

    .large-Grid--1of2>.Grid-cell {
        @include flex(0,0,50%);
    }

    .large-Grid--1of3>.Grid-cell {
        @include flex(0,0,33.3333%);
    }

    .large-Grid--1of4>.Grid-cell {
        @include flex(0,0,25%);
    }

    .Grid--1of5>.Grid-cell
    {
        @include flex(0,0,150px); // guide-box
    }
}

/*
 * Site Specific
 **/

.laliste {
    height: 100%;
    @include flex-direction(column);
}

.footer-main, .header-main {
    @include flexbox;
    @include flex(0);
}

.header-main {
    @extend .Grid;
}

.header-branding {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--full;
    @extend .u-small-full;
    @extend .u-med-1of2;
    @extend .u-large-2of3;
    @extend .logo;
}

.header-utils {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--full;
    @extend .u-small-full;
    @extend .u-med-1of2;
    @extend .u-large-1of3;
    @include justify-content(flex-end);
    padding-right: 8px;
}

.footer-main {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--center;
}

.footer-container {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--center;
    @extend .Grid--1of4;
    @include justify-content(space-around);
}

.content-body,
.content-body-home {
    @include flex(1);
    @include flex-direction(column);
    min-height: 100vh;
    padding: 1.5em;
    padding-top: 0;
    padding-left: 1%;
    padding-right: 1%;
}

.content {
    @include flex(1);
    margin-top: 1.5em;
    margin-left: 0;
    margin-right: 0;
}

.laliste-nav {
    @include order(-1);
}

.laliste-ads, .laliste-nav {
    padding: 1em;
    border-radius: 3px;
    background: #93806c;
    background: hsla(31, 15%, 50%, .1)
}

.laliste-box {
    margin: 4px 4px 4px 4px;
    width: 100%;
    font-weight: bold;
}

.laliste-box-bg {
    background-color: $light_grey;
}

header.header-main {
    width: 100%;
    max-width: 1408px;
    margin: 0 auto;
}

.logo {
  margin-top: 20px;
  z-index: 80;
}

header > div.region.region-header {
    @include flexbox;
    margin-right: 0px;
}

.content-container {
    max-width: 1408px;
    margin: 0 auto;
    text-align: center;
}

.restaurant-top-section {
    @extend .Grid;
    @extend .Grid--full;
    @extend .large-Grid--fit;
    position: relative;
}

.restaurant-media {
    width: 100%;
    height: 100%;
    margin: 4px 0;
}

.restaurant-info-container {
    @extend .Grid;
}

.restaurant-user-actions-container {
    @extend .Grid;
}

.restaurant-user-action-share,
.restaurant-user-action-add-list {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--center;
    @extend .laliste-box;
    @extend .laliste-box-bg;
    @extend .row-height-tall;
}

.restaurant-user-action-share {
    @extend .u-small-full;
    @extend .u-med-full;
    @extend .u-large-1of3;
}

//Grid Grid-cell Grid--center laliste-box laliste-box-bg laliste-box-height-tall

.guides-container {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--center;
    @extend .Grid--1of5;
    height: 100%;
    @include justify-content(flex-start);
    margin: 4px 0;
}

.guide-box {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--center;
    @extend .Grid--1of5;
}

.guides-container > :first-child {
    margin-left: 0px;
}

.insider-footer {
    @include justify-content(space-around);
}

.restaurant-country {
    @extend .Grid;
}

.restaurant-rank-big {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--center;
    @extend .u-small-full;
    @extend .u-med-full ;
    @extend .u-large-1of3;
    @extend .row-height-med;
    @extend .laliste-box;
    background-color: $light_grey;
}

.restaurant-details-container {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--center;
    @extend .laliste-box;
    @extend .no-hcenter;
    @extend .laliste-box-bg;
    @extend .row-height-med;
    @extend .u-textLeft;
}

.restaurant-details ul li {
     line-height: 1em;
     height: auto;
     position: relative;
}

.restaurant-details ul li .info-title{
    font-weight: 400;
}

.restaurant-details ul li .info-content{
    color: $dark_gold;
}

span.info-content > a {
   color: $dark_gold;
}

span.info-title {
    position: absolute;
}

p.info-content {
    padding-left: 140px;
}

.guide-box {
    color: $white;
    background: $black;
    height: 169px;
    width: auto;
    padding: 10px;
}

.guide-box {
    margin: 2px 4px 2px 0px;
    font-weight: 300;
}

.guide-box.first{
    margin-left: 0px;
}

.guide-box.last{
    margin-right: 0px;
}

/*
 * Site specific Media Queries
 **/

@media screen and (min-width: 375px) {

    .header-main {
        margin-bottom: 0;
    }

    .header-branding {
        @include justify-content(center);
        img {
            width: 240px;
            height: 100%;
        }
    }

    .header-utils {
        @include justify-content(center);
    }

    .row-height-med {
        height: 90px;
    }

    .row-height-tall {
        height: 90px;
    }

    .restaurant-details {
        font-size: 0.8em;
        ul {
            margin: 0 0 -0.5em !important;
        }
    }

    .restaurant-details-container {
        font-size: 1.2em;
    }

    .restaurant-user-actions-container p {
        font-size: 1.5em;
    }

    .restaurant-info-container > :first-child,
    .restaurant-user-actions-container > :first-child {
        margin-left: 4px;
        margin-right: 4px;
    }

    .restaurant-info-container > :last-child,
    .restaurant-user-actions-container > :last-child {
        margin-left: 0px;
        margin-right: 0px;
    }

    .restaurant-overlay {
       display: none;
    }

    span.tiny-rank {
        font-size: 0.5em !important;
    }

    p.rank {
        font-size: 2em;
        margin-bottom: -6px;
    }

    p.score {
        font-size: 1.5em;
        padding-bottom: 4px;
     }

    .restaurant-address span {
        font-size: 0.6em !important;
    }

    h1#node-title {
        font-size: 1.5em;
    }

    .guide-box {
        font-size: 0.8em;
        height: 87px;
    }

    a.guide-box {
        font-weight: bold;
    }

    .footer-main {
        height: 140px;
    }

    a.footer-link {
        font-size: 1em;
    }

    p.info-content {
        padding-left: 70px;
    }
}

@media screen and (min-width: 576px) {

    .header-branding {
        @include justify-content(flex-start);
        img {
            width: 320px;
            height: 100%;
            padding-left: 4px;
        }
    }

    .header-utils {
        @include justify-content(flex-end);
    }

    .laliste-ads, .laliste-nav {
        @include flex(0,0,12em);
    }

    .row-height-med {
        height: 120px;
    }

    .row-height-tall {
        height: 120px;
    }

    .restaurant-overlay {
        display: block;
        top: 24px !important;
        left: 250px !important;
        width: 42% !important;
        height: 85% !important;
    }

    .restaurant-rank-big {
        margin: 4px 4px 4px 4px;
    }

    .img.countryicon.iconset-gosquared_flat_large {
        max-width: 70%;
    }

    .restaurant-details {
        font-size: 1.1em;
        ul {
            margin: 0 0 -0.5em;
        }
    }

    .restaurant-user-actions-container p {
        font-size: 2em;
    }

    .restaurant-info-container > :first-child,
    .restaurant-user-actions-container > :first-child {
        margin-left: 4px;
        margin-right: 4px;
    }

    .restaurant-info-container > :last-child,
    .restaurant-user-actions-container > :last-child {
        margin-left: 0px;
        margin-right: 0px;
    }

    span.tiny-rank {
        font-size: 0.8em !important;
    }

    p.rank {
        font-size: 3em;
        padding-bottom: 8px;
        margin-bottom: -15px;
    }

    p.score {
        font-size: 2em;
        padding-bottom: 10px;
    }

    .restaurant-address span {
        font-size: 0.8em !important;
        line-height: 0.9 !important;
    }

    h1#node-title {
        font-size: 2em;
    }

    .guide-box {
        font-size: 1em;
        height: 120px;
    }

    a.guide-box {
        font-weight: 400;
    }

    a.footer-link {
        font-size: 1.5em;
    }

    .footer-main {
        height: 200px;
    }

    p.info-content {
        padding-left: 96px;
    }
}

@media screen and (min-width: 768px) {

    .header-branding {
        @include justify-content(flex-start);
        img {
            width: 373px;
            height: 51px;
        }
    }

    .header-utils {
        @include justify-content(flex-end);
    }

    .laliste-ads, .laliste-nav {
        @include flex(0,0,12em);
    }

    .row-height-med {
        height: 150px !important;
    }

    .row-height-tall {
        height: 240px !important;
    }

    .restaurant-overlay {
        padding:30px;
        padding-top: 3% !important;
    }

    .img.countryicon.iconset-gosquared_flat_large {
        width: 45px;
        margin-top: 4px;
    }

    .restaurant-details {
        width: 96%;
        padding-top: 30px;
        font-size: 1.2em !important;
        ul {
            margin: 0 0 1.5em !important;
        }
    }

    .restaurant-user-actions-container p {
        font-size: 3em !important;
    }

    span.tiny-rank {
        font-size: 1em !important;
    }

    p.rank {
        font-size: 4em !important;
        font-weight: 600;
        margin-bottom: -30px;
    }

    p.score {
        font-size: 2.8em !important;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .restaurant-address {
        font-size: 1.5em !important;
    }

    h1#node-title {
        font-size: 2.6em !important;
    }

    .guide-box {
        font-size: 1.2em;
        height: 150px;
    }

    a.footer-link {
        font-size: 2.2em;
    }

    .footer-main {
        height: 300px
    }

    .restaurant-info-container > :first-child,
    .restaurant-user-actions-container > :first-child {
        margin-left: 0px;
    }

    .restaurant-info-container > :last-child,
    .restaurant-user-actions-container > :last-child {
        margin-left: 4px;
        margin-right : 0px;
    }

    p.info-content {
        padding-left: 105px;
    }
}

@media screen and (min-width: 1200px) {

    .header-branding {
        @include justify-content(flex-start);
        img {
            width: 373px;
            height: 51px;
        }
    }

    .header-utils {
        @include justify-content(flex-end);
    }

    .laliste-ads, .laliste-nav {
        @include flex(0,0,12em);
    }

    .row-height-short {
        height: 166px !important;
    }

    .row-height-med {
        height: 194px !important;
    }

    .row-height-tall {
        height: 279px !important;
    }

    .restaurant-overlay {
        //top: 50px !important;
        left: 600px !important;
        width: 495px !important; //34%
        //height: 76% !important;
    }

    .restaurant-details {
        width: 96%;
        padding-top: 40px;
        font-size: 1.5em !important;
        ul {
            margin: 0 0 1.5em !important;
        }
    }

    .img.countryicon.iconset-gosquared_flat_large {
        width: 45px;
        margin-top: -2px;
    }

    .restaurant-user-actions-container p {
        font-size: 3em !important;
    }

    p.rank {
        font-size: 5em !important;
        margin-bottom: -30px;
    }

    p.score {
        font-size: 3.5em !important;
        padding-bottom: 10px;
    }

    .restaurant-address span {
        font-size: 1.4em !important;
        line-height: 1;
    }

    h1#node-title {
        color: $white;
        font-size: 3.8em !important;
    }

    .guide-box {
        font-size: 1.4em;
    }

    .restaurant-info-container > :first-child,
    .restaurant-user-actions-container > :first-child {
        margin-left: 0px;
    }

    .restaurant-info-container > :last-child,
    .restaurant-user-actions-container > :last-child {
        margin-right : 0px;
    }

    p.info-content {
        padding-left: 140px;
    }
}

.u-ieMinHeightBugFix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.u-full {
    width: 100% !important
}

.u-1of2, .u-full {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
}

.u-1of2 {
    width: 50% !important
}

.u-1of3 {
    width: 39.2% !important
}

.u-1of3, .u-2of3 {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
}

.u-2of3 {
    width: 60% !important
}

.u-1of4 {
    width: 25% !important
}

.u-1of4, .u-3of4 {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important
}

.u-3of4 {
    width: 75% !important
}

@media (min-width:375px) {
    .u-small-full {
        width: 100% !important
    }

    .u-small-1of2, .u-small-full {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-small-1of2 {
        width: 50% !important
    }

    .u-small-1of3 {
        width: 39.2% !important
    }

    .u-small-1of3, .u-small-2of3 {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-small-2of3 {
        width: 60% !important
    }

    .u-small-1of4 {
        width: 25% !important
    }

    .u-small-1of4, .u-small-3of4 {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-small-3of4 {
        width: 75% !important
    }
}

@media (min-width:576px) {
    .u-med-full {
        width: 100% !important
    }

    .u-med-1of2, .u-med-full {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-med-1of2 {
        width: 50% !important
    }

    .u-med-1of3 {
        width: 39.2% !important
    }

    .u-med-1of3, .u-med-2of3 {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-med-2of3 {
        width: 60% !important
    }

    .u-med-1of4 {
        width: 25% !important
    }

    .u-med-1of4, .u-med-3of4 {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-med-3of4 {
        width: 75% !important
    }
}

@media (min-width:768px) {
    .u-large-full {
        width: 100% !important
    }

    .u-large-1of2, .u-large-full {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-large-1of2 {
        width: 50% !important
    }

    .u-large-1of3 {
        width: 39.2% !important
    }

    .u-large-1of3, .u-large-2of3 {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-large-2of3 {
        width: 60% !important
    }

    .u-large-1of4 {
        width: 25% !important
    }

    .u-large-1of4, .u-large-3of4 {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-large-3of4 {
        width: 75% !important
    }
}

@media (min-width:1200px) {
    .u-large-full {
        width: 100% !important
    }

    .u-large-1of2, .u-large-full {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-large-1of2 {
        width: 50% !important
    }

    .u-large-1of3 {
        width: 39.2% !important
    }

    .u-large-1of3, .u-large-2of3 {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-large-2of3 {
        width: 60% !important
    }

    .u-large-1of4 {
        width: 25% !important
    }

    .u-large-1of4, .u-large-3of4 {
        -webkit-box-flex: 0 !important;
        -webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important
    }

    .u-large-3of4 {
        width: 75% !important
    }
}

.no-hcenter {
    justify-content: left !important;
}


h1#node-title {
    font-family: "Mrs Eaves Italic", Serif;
    margin-top: -1%;
    margin-bottom: 4%;
    color: $white;
}

p.rank, p.score {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

p.score {
    color: $dark_gold;
}

#separator {
    font-weight: 200;
}

.restaurant-info {
    padding-left : 20px;
}

.restaurant-user-actions-container p {
    font-family: "Mrs Eaves Bold Italic", Serif;
}

sup {
    vertical-align: text-bottom;
}

/**
 * User login block in footer.
 */
#block-user-login, #block-search-form {
  width: 100%;
  text-align: center;
}
.content-body-home #block-search-form {
    width: 50%;
    margin: 0 auto;
}

#block-user-login .block-title,
#block-search-form .block-title {
  margin-bottom: 0.5em;
  text-align: center;
}
#block-user-login .content *,
#block-search-form .content * {
  @include flexbox;
}

input.fpage-search-box,
input.other-page-search-box {
    font-family: 'Mrs Eaves Italic';
    font-size:28px;
    padding-left: 0.4em;
    padding-right: 1.8em;
    background: $white;
    border: 0;
    color : $gray;
    -webkit-appearance: none;
    border-radius:0;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

input.other-page-search-box {
    width: 238px;
    height: 42px;
    background: $light_grey;
}

input.fpage-search-box {
    width: 559px;
    height: 86px;
}

input.fpage-search-icon,
input.other-page-search-icon {
    border: 0;
    font-family: 'FontAwesome';
    font-weight: 100;
    background: $black;
    color: $white;
    justify-content: center;
    -webkit-appearance: none;
    border-radius:0;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

input.fpage-search-icon {
    width: 90px;
    height: 86px;
    font-size: 28px;
}

input.other-page-search-icon {
    width: 50px;
    height: 42px;
    font-size: 20px;
}

input[type=text].fpage-search-box,
input[type=text].other-page-search-box,
input.fpage-search-icon,
input.other-page-search-icon {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  //border-top: 1px solid #DDDDDD; // define color
}

input[type=text].fpage-search-box:focus,
input[type=text].other-page-search-box:focus,
input.fpage-search-icon:focus,
input.other-page-search-icon:focus {
  box-shadow: 0 0 5px $dark_gold;
  border: 1px solid $dark_gold;
}

// hide the search form title
h2.element-invisible {
    display: none !important;
}

.restaurant-overlay {
  background-image: url("../img/restaurant-panel-bg.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  left: 600px;
  width: 34%;
  height: 76%;
  z-index: 80;
  padding-top: 5%;
  color: white;
}

.restaurant-overlay hr.half-length,
.restaurant-overlay hr.full-length {
    display: inline-block;
    padding: 0;
    color: white;
    border-width: 1px;
}

.restaurant-overlay hr.half-length {
    width: 36%
}

.restaurant-overlay hr.full-length {
    width: 72%
}

.restaurant-overlay .tiny-rank {
    font-weight: 300;
    margin: 5px;
    font-size: 1.2em;
    position: relative;
    top: -0.25em;
}

img.countryicon.iconset-gosquared_flat_large {
    margin-top: 12%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.restaurant-address {
    line-height: 110%;
    font-weight: 300;
    font-size: 1.2em;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 2%;
}

/**
 * Administration
 */

ul.tabs.primary {
  display: flex;
  margin-bottom: 0;
  li {
    margin-right: 20px;
  }
}

/**
 * Slideshows
 */

.flexslider .slides img {
  height: auto;
}

.highlight-container {
    @extend .Grid;
}

.highlight-title {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--full;
    @extend .Grid--center;
    @extend .u-small-full;
    @extend .u-med-1of2;
    @extend .u-large-1of3;
    color: $dark_grey;
    font-family: "Mrs Eaves Bold", sans-serif;
    font-size: 3em;
}

.highlight-content-container {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--full;
    @extend .u-small-full;
    @extend .u-med-1of2;
    @extend .u-large-2of3;
}

.highlight-content-column {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--justifyCenter;
    @extend .u-small-1of2;
    @extend .u-med-1of2;
    @extend .u-large-1of2;
    background: $black;
    color: $white;
    font-family: "Mrs Eaves Italic", Serif;
    font-size: 1.3em;
    padding: 20px;
    text-align: justify;
    font-weight: 100;
}

#block-views-cbbe77509a0d5dfa927448406b230347 {
    margin-top: 20px;
}

.block-views > h2 {
    padding-top: 30px;
    font-family: "Mrs Eaves Italic", Serif;
    font-size: 5em;
    color: $dark_grey;
    background: $light_grey;
    font-weight: 100;
    margin: 0;
    height: 152px;
}

.view-content {
    @extend .Grid;
    @include flex-direction(column);
    //@include justify-content(space-between);
}

.laliste-winners-result {
    @extend .Grid;
    @extend .Grid-cell;
    @extend .Grid--full;
    @include justify-content(space-between);
    @include align-items(center);
}

.laliste-winners-title {
    @extend .Grid;
    @include align-items(center);
    @include justify-content(flex-start);
}

.laliste-winners-score-laliste {
    @extend .Grid;
    @include align-items(center);
    @include justify-content(flex-end);
}

.laliste-winners-rank {
    @extend .Grid;
    @include align-items(center);
    @include justify-content(space-between);
}

#block-views-cbbe77509a0d5dfa927448406b230347 > div.content > div > div > div:nth-child(-n+5) {
    height: 110px;
    margin: 3px 0;
}

#block-views-cbbe77509a0d5dfa927448406b230347 > div.content > div > div > div:nth-child(n+6) {
    height: 56px;
    margin: 0;
}

// 1st five Winners restaurant title
div:nth-child(-n+5) > span.laliste-winners-title > span > a {
    font-family: "Mrs Eaves Bold", sans-serif;
    font-size: 2.5em;
    color: $white;
}
div:nth-child(-n+5) > span.laliste-winners-title {
    padding: 0 46px;
    text-align: left;
    background: $dark_gold;
    height: 110px;
}
div:nth-child(-n+5) > span.laliste-winners-score-laliste {
    background: $dark_gold;
    height: 110px;
}

div:nth-child(-n+5) > span.laliste-winners-rank {
    background: $light_grey;
    height: 110px;
}
div > span.laliste-winners-title {
    width: 71%;
}
div > span.laliste-winners-score-laliste {
    width: 5%;
}
div:nth-child(-n+5) > span.laliste-winners-score-laliste {
    padding-right: 10px;
}
div:nth-child(n+6) > span.laliste-winners-score-laliste {
    padding-right: 33px;
}
div > span.laliste-winners-rank {
    width: 16%;
    padding-left: 33px;
}
div > span.laliste-winners-field-address-country-1 {
    width: 8%;
}
// 1st five winners flag
div:nth-child(-n+5) > span.laliste-winners-field-address-country-1 {
    padding: 0 27px;
}
// 1st five winners rank
div:nth-child(-n+5) > span.laliste-winners-rank > span {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 4em;
    sup {
        font-size: 0.6em;
    }
}
// 1st five winners score
div:nth-child(-n+5) > span.laliste-winners-score-laliste > span {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: $white;
}
// hack for winner score proportionnal to div length
div:nth-child(2) > span.laliste-winners-score-laliste {
    border-right: 4px solid $light_grey;
}
div:nth-child(3) > span.laliste-winners-score-laliste {
    border-right: 8.725px solid $light_grey;
}
div:nth-child(4) > span.laliste-winners-score-laliste {
    border-right: 22.75px solid $light_grey;
}
div:nth-child(5) > span.laliste-winners-score-laliste {
    border-right: 24.575px solid $light_grey;
}

// prizes
div:nth-child(1) > span.laliste-winners-rank {
  background-image: url("../img/1st_prize.png");
  background-repeat: no-repeat;
  background-position: 130px 14px;
}
div:nth-child(2) > span.laliste-winners-rank {
  background-image: url("../img/2nd_prize.png");
  background-repeat: no-repeat;
  background-position: 138px 16px;
}
div:nth-child(3) > span.laliste-winners-rank {
  background-image: url("../img/3rd_prize.png");
  background-repeat: no-repeat;
  background-position: 136px 16px;
}
div:nth-child(4) > span.laliste-winners-rank {
  background-image: url("../img/4th_prize.png");
  background-repeat: no-repeat;
  background-position: 140px 16px;
}
div:nth-child(5) > span.laliste-winners-rank {
  background-image: url("../img/5th_prize.png");
  background-repeat: no-repeat;
  background-position: 140px 16px;
}

// others winners country flag
div:nth-child(n+6) > span.laliste-winners-field-address-country-1 > a > img {
    max-width: 50%;
}
div:nth-child(n+6) > span.laliste-winners-field-address-country-1 {
    padding: 0 27px;
}
// 1st five Winners restaurant title
div:nth-child(n+6) > span.laliste-winners-title > span > a {
    font-family: "Mrs Eaves Italic", sans-serif;
    font-size: 1.5em;
    color: $black;
}
div:nth-child(n+6) > span.laliste-winners-title {
    //width: 70%;
    padding: 0 46px;
    text-align: left;
    background: $light_grey;
    height: 56px;
}
div:nth-child(n+6) > span.laliste-winners-score-laliste,
div:nth-child(n+6) > span.laliste-winners-rank {
    background: $light_grey;
    height: 56px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    sup {
        //font-size: 0.6em;
    }
}
div:nth-child(n+7) > span.laliste-winners-title,
div:nth-child(n+7) > span.laliste-winners-score-laliste,
div:nth-child(n+7) > span.laliste-winners-rank {
    border-top: 1px solid $dark_grey;
}
span.laliste-winners-field-address-country-1 > a > img.countryicon.iconset-gosquared_flat_large {
    border: 1px solid $light_grey;
}


